<div class="container">
  <div class="header">
    <a class="start"
    (click)="startGame()"
    [class.disabled]="isStarted">
      Почати
    </a>
    <input
      class="form-control"
      [formControl]="gameSpeed"
      type="text">
  </div>
  <div class="wrap">
    <ng-container *ngFor="let item of squares; index as indexOfItem">
      <app-square
        [status]="checkItemStatus(indexOfItem)"
        (click)="onItemClick(indexOfItem)">
      </app-square>
    </ng-container>
  </div>
  <div class="score">
    <h3>Гравець</h3>
    <div class="primary">
      {{gamerScore}} / {{compScore}}
    </div>
    <h3>Комп'ютер</h3>
  </div>
</div>
