* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

.primary {
  color: #16d9e3;
}
